*[hidefocus],input,textarea,a{outline:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
fieldset,img,html,body,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
caption,th{font-weight:normal;font-style:normal;text-align:left;}
em,strong{font-weight:bold;font-style:normal;}
body,textarea,select,input,pre{font-family:arial,microsoft yahei,helvetica,sans-serif;font-size:14px;color:#555;}
body{background: rgb(102,102,102);line-height:1.5em;-webkit-text-size-adjust:none;}
a,button{cursor:pointer;}
textarea{resize:none;overflow:auto;}
pre{white-space:pre-wrap;}
a{color:#333;text-decoration:none;}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

html, body{width:100%;height:100%;overflow:hidden;}
.main-page, .side-page, .single-page{width:100%;height:100%;}
.main-page, .side-page{position: absolute;top: 0;left: 0;bottom: 0;right: 0;overflow: hidden;} 
/*.main-page{position: absolute;top: 0;left: 0;} */
.main-page{z-index:10;}

/* main-page */
.main-page .single-page{width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.main-page .panel{width:100%;height:100%;display: -webkit-box;}
.main-page .single-page{background: url(../images/main_1.png) center no-repeat; background-size: cover;}
.main-page .single-page:first-child{background-image: url(../images/main_1.png);z-index: 6;}
.main-page .single-page:nth-child(2){background-image: url(../images/main_2.png);z-index: 5;background-size: 100% 100%;}
.main-page .single-page:nth-child(3){background-image: url(../images/main_3.png);background-size: 100% 100%;z-index: 4;}
.main-page .single-page:nth-child(4){background-image: url(../images/main_4.png);z-index: 3;background-size: 100% 100%;}
.main-page .single-page:nth-child(5){background-image: url(../images/main_5.png);z-index: 2;}
.main-page .single-page:nth-child(6){background-image: url(../images/main_6.png);z-index: 1;}

/* side page */
.side-page{background-color: #fff;}
.side-page .panel{width:100%;height:100%;display: -webkit-box;}
.side-page .single-page{background: url(../images/side_1.png) center no-repeat; background-size: cover;}
.side-page .single-page:first-child{background-image: url(../images/side_1.png);}
.side-page .single-page:nth-child(2){background-image: url(../images/side_2.png);}
.side-page .single-page:nth-child(3){background-image: url(../images/side_3.png);}

.side-page .banner .font{position: fixed;top: 10px;left: 10px;right: 10px;opacity:0;}
.side-page .banner .font:first-child{opacity:1;}
.side-page .banner .font img{width: 100%;}

/* single page */
.single-page{text-align: center;position: relative;}
.single-page .tag{
    position: absolute;
    font-size: 150px;
    border: 10px solid #BDBDBD;
    color: #666;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    line-height: 1em;
    border-radius: 10000px;
    width: 150px;
    height: 150px;
}


.cycle-button {
  background: rgba(0,0,0,0.75);
  color: #fff;
  display: block;
  position: absolute;
  z-index: 10;
  top: 50%;
  font-size: 1.25em;
  padding: 0.5em;
  text-transform: lowercase;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin-top: -50px;
}
.cycle-next {
  right: 0;
}
.cycle-prev {
  left: 0;
}


/* animate */
.a-bouncein{-webkit-animation:.3s ease-out backwards;}
.a-bouncein{-webkit-animation-name:bouncein;}
@-webkit-keyframes bouncein{
    0%{-webkit-transform:scale(0.95);}
    100%{-webkit-transform:scale(1);}
}


/* 淡出-向右 */
@-webkit-keyframes fadeoutR{
    0%{opacity:1;-webkit-transform:translateX(0);}
    100%{opacity:0;-webkit-transform:translateX(100px);}
}
/* 淡入-从左 */
@-webkit-keyframes fadeinL{
    0%{opacity:0;-webkit-transform:translateX(-100px);}
    100%{opacity:1;-webkit-transform:translateX(0);}
}
/* 淡出-向右 */
@-webkit-keyframes fadeoutR{
    0%{opacity:1;-webkit-transform:translateX(0);}
    100%{opacity:0;-webkit-transform:translateX(100px);}
}
/* 淡出-向左 */
@-webkit-keyframes fadeoutL{
    0%{opacity:1;-webkit-transform:translateX(0);}
    100%{opacity:0;-webkit-transform:translateX(-100px);}
}

.sprites { background: url(../images/sprites.png) no-repeat; -webkit-transform: scale(.333);}
.button_join_us { width: 300px; height: 100px; background-position: -1362px -181px;}
.button_join_us_pressed { width: 300px; height: 100px; background-position: 0 -362px; }
.employment_05_button_01 { width: 680px; height: 180px; background-position: 0 0; }
.employment_05_button_01_pressed { width: 680px; height: 180px; background-position: -1542px 0; }
.employment_05_button_02 { width: 680px; height: 180px; background-position: -681px -83px; }
.employment_05_button_02_pressed { width: 680px; height: 180px; background-position: 0 -181px; }
.employment_05_button_03 { width: 680px; height: 180px; background-position: -952px -282px; }
.employment_05_button_03_pressed { width: 680px; height: 180px; background-position: -1633px -282px; }
.employment_09_button { width: 650px; height: 100px; background-position: -1663px -181px; }
.employment_09_button_pressed { width: 650px; height: 100px; background-position: -301px -362px; }
.last { width: 36px; height: 20px; background-position: -681px -264px; }
.last_pressed { width: 36px; height: 20px; background-position: -718px -264px; }
.next { width: 36px; height: 20px; background-position: -681px -285px; }
.next_pressed { width: 36px; height: 20px; background-position: -681px -306px; }
.send_mail { width: 860px; height: 82px; background-position: -681px 0; }

.button_join_us{  position: fixed;   bottom: 5%; left: 50%; margin-left: -150px;}


.single-page .position-button{
    top: 30%;
    position: fixed;
    left: 50%;
    margin-left: -340px;
}
.single-page .position-button:first-child{
    position: fixed;
    top: 14%;
}
.single-page .position-button:nth-child(2){
    top: 32%;
}
.single-page .position-button:nth-child(3){
    top: 50%;
}
.employ-button{ position: fixed;
    top: 48%; left: 50%; margin-left: -325px;}
